$color-blue-regular: #344473;
$color-blue-clicked: #008afc;
$color-blue-hover: #000;
$bg-color: #ffffff;
$raleway: "Raleway",
sans-serif;
$moserito: "Montserrat",
sans-serif;
$default-width: 100%;
$default-width-small: 31rem;
$lato: "Sen",
sans-serif;
$montserrat: "Montserrat",
sans-serif;